@model List<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="mb-3">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Roles" asp-action="AddRole">Rol Ekle</a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessages"] != null && ((List<string>)TempData["ErrorMessages"]).Count > 0)
{
    <div class="alert alert-danger" role="alert">
        <ul>
            @foreach (var errorMessage in (List<string>)TempData["ErrorMessages"])
            {
                <li>@errorMessage</li>
            }
        </ul>
    </div>
}

<h1>Rol Listesi</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var roleViewModel in Model)
        {
            <tr>
                <td>@roleViewModel.Id</td>
                <td>@roleViewModel.Name</td>
                <td>
                    <a asp-area="Admin" asp-controller="Roles" asp-action="UpdateRole" asp-route-id="@roleViewModel.Id">Güncelle</a>
                    <form asp-area="Admin" asp-controller="Roles" asp-action="DeleteRole" asp-route-id="@roleViewModel.Id" method="post">
                        <button class="btn btn-link" type="submit">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>